<footer class="pt-4 pb-2">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-5">
          <img src="assets/img/footer-logo.png" width="130" class="mb-2">
          <div class="col-md-7 pl-0">
            <p class="footer-text font-14">Lorem ipsum dolor amet, consecteturadipiscing elit, sed do to eiusmod do tempor incididunt utta labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit</p>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-3 col-md-6">
              <ul type="none" class="pl-1 footer-link">
                <li class="text-light font-14">Enlaces</li>
                <li class="font-14"><a href="index.html" class="footer-text">Home</a></li>
                <li class="font-14"><a href="console.html" class="footer-text">Buscador</a></li>
                <li class="font-14"><a href="#" class="footer-text">¿Cómo funciona?</a></li>
                <li class="font-14"><a href="#" class="footer-text">Blog</a></li>
                <li class="font-14"><a href="#" class="footer-text">Contacto</a></li>
              </ul>
            </div>

            <div class="col-6 col-sm-6 col-lg-3 col-md-6">
              <ul type="none" class="pl-1 footer-link">
                <li class="text-light font-14">Mi cuenta</li>
                <li class="font-14"><a href="login.html" class="footer-text">Login</a></li>
                <li class="font-14"><a href="register.html" class="footer-text">Registro</a></li>
              </ul>
            </div>

            <div class="col-lg-6 col-md-12">
              <ul type="none" class="pl-1 footer-link">
                <li class="text-light font-14">Suscríbete y estarás atento de novedades</li>
                <li>

                  <div class="input-group">
                    <input class="form-control py-2 border-right-0 border footer-input" value="Email" type="email" placeholder="Email" id="example-search-input">
                    <span class="input-group-append">
							                <button class="btn btn-outline-secondary border-left-0 border footer-input-bg" type="button">
							                    <i class="fa fa-paper-plane"></i>
							                </button>
							              </span>
                  </div>
                </li>
                <li class="footer-text">Síguenos en nuestras redes sociales</li>
                <li>
                  <ul class="footer-social pl-0" type="none">
                    <li><a class="text-light" href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a class="text-light" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="text-light" href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="text-light" href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a class="text-light" href="#"><i class="fab fa-twitch"></i></a></li>
                    <li><a class="text-light" href="#"><i class="fab fa-discord"></i></a></li>
                    <!-- 										<li><a class="text-light" href="#"><i class="fa fa-reddit-alien"></i></a></li> -->

                    <li><a class="text-light" href="#"><i class="fa fa-paper-plane"></i></a></li>
                  </ul>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="footer-hr">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5 text-center text-md-left pt-2">
          <p class="text-light font-14">Copyright &copy; 2020 Todos los derechos reservados</p>
        </div>
        <div class="col-md-7 text text-center text-md-right">
          <!-- <div class="row"> -->
          <!-- <div class="col-md-7 text-center text-md-left pt-2"> -->
          <ul class="pl-0 bottom-ul" type="none">
            <li class="pl-md-4"><a href="#" class="text-light font-14">Privacy Policy</a></li>
            <li class="pl-md-4"><a href="#" class="text-light font-14">Refund Policy</a></li>
            <li class="pl-md-4"><a href="#" class="text-light font-14">Terms of Service</a></li>
          </ul>
          <!-- </div> -->
          <!--     					<div class="col-md-5 text-center text-md-right">
                          <img src="assets/img/payment.png" width="170">
                        </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</footer>
