<!-- ======= Clients Section ======= -->
<section id="clients" class="clients section-bg">
  <div class="container pt-5 pb-5">

    <div class="text-center">
      <h3 class="bolder">Tiendas oﬁciales de conﬁanza</h3>
    </div>

    <div class="row seven-cols">

      <div class="col-md-1 col-3">
        <div class="client-logo">
          <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-md-1 col-3">
        <div class="client-logo">
          <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-md-1 col-3">
        <div class="client-logo">
          <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-md-1 col-3">
        <div class="client-logo">
          <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-md-1 col-4">
        <div class="client-logo">
          <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-md-1 col-4">
        <div class="client-logo">
          <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-md-1 col-4">
        <div class="client-logo">
          <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
        </div>
      </div>

    </div>

  </div>
</section><!-- End Clients Section -->


<!-- ======= Product Section ======= -->
<section id="products" class="products section-bg">
  <div class="container pt-4 pb-4">
    <div class="text-center">
      <h3 class="bolder ">Productos recomendados</h3>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="col-md-12">
          <div class="card mb-3 box-shadow pt-5 pb-5 position-relative">
            <div class="position-absolute w-100 pr-2 my-icons">
              <!-- <img src="assets/img/icons/icon-1.png" class="float-right"> -->
              <a href="#" class="badge badge-pill icon-green float-right"><img src="assets/img/icons/icon1.png"></a>
            </div>
            <div class="col-md-12 text-center">
              <a href="result.html">
                <img class="pro-image img-fluid" src="assets/img/products/product-1.png" alt="Status Duo" title="Status Duo">
              </a>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <h5 class="card-text bolder mt-4 mb-4">Status Duo</h5>
            <a href="result.html" class="btn btn-primary btn-radius">Comparar</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5">

        <div class="col-md-12">
          <div class="card mb-3 box-shadow pt-5 pb-5 position-relative">
            <div class="position-absolute w-100 pr-2 my-icons">
              <a href="#" class="badge badge-pill icon-green float-right"><img src="assets/img/icons/icon1.png"></a>
            </div>
            <div class="col-md-12 text-center">
              <a href="result.html">
                <img class="pro-image img-fluid" src="assets/img/products/product-2.png" alt="Status Duo" title="Status Duo">
              </a>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <h5 class="card-text bolder mt-4 mb-4">Arctics Gaming</h5>
            <a href="result.html" class="btn btn-primary btn-radius">Comparar</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5">

        <div class="col-md-12">
          <div class="card mb-3 box-shadow pt-5 pb-5 position-relative">
            <div class="position-absolute w-100 pr-2 my-icons">
              <a href="#" class="badge badge-pill icon-purple float-right"><img src="assets/img/icons/icon2.png"></a>
            </div>
            <div class="col-md-12 text-center">
              <a href="result.html">
                <img class="pro-image img-fluid" src="assets/img/products/product-3.png" alt="Status Duo" title="Status Duo">
              </a>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <h5 class="card-text bolder mt-4 mb-4">Logitech G Pro</h5>
            <a href="result.html" class="btn btn-primary btn-radius">Comparar</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section><!-- End Clients Section -->

<!-- Section About -->
<section id="about" class="about section-bg">
  <div class="container mb-3">
    <div class="row pt-5 pb-5">
      <div class="col-lg-7 col-md-6">
        <img src="assets/img/about.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-5 col-md-6 pt-lg-5 text-center text-md-left">
        <h3 class="bolder mt-lg-2 mt-xl-5 mb-4">Compara de manera sencilla en cualquier dispositivo</h3>
        <p>Y en pocos pasos conseguirás lo que buscas al mejor precio posible</p>
        <a href="#" class="btn btn-primary btn-radius mt-lg-4">¿Cómo funciona?</a>
      </div>
    </div>
  </div>
</section>
<!-- / Section About -->


<!-- Blog Sections -->
<section id="blogs" class="blogs section-bg">
  <div class="container mt-5">
    <div class="text-center pt-5">
      <h3 class="bolder mb-5">Últimos artículos del blog</h3>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 my-blog">
          <img class="card-img-right flex-auto pt-3 pl-3 pr-3 p-md-4" alt="blog" src="assets/img/blogs/blog-1.png">
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="mb-2 bolder">
              <a class="text-dark" href="#">Generate Lorem Ipsum</a>
            </h4>
            <p class="card-text mb-auto">Lorem ipsum dolor amet, consectetur adipiscing elit, sed do to eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit</p>
            <a href="#" class="theme-text-purple">Leer más &nbsp;&nbsp; <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 my-blog">
          <img class="card-img-right flex-auto pt-3 pl-3 pr-3 p-md-4" alt="blog" src="assets/img/blogs/blog-2.png">
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="mb-2 bolder">
              <a class="text-dark" href="#">Generate Lorem Ipsum</a>
            </h4>
            <p class="card-text mb-auto">Lorem ipsum dolor amet, consectetur adipiscing elit, sed do to eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit</p>
            <a href="#" class="theme-text-purple">Leer más &nbsp;&nbsp; <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mb-5">
      <a href="#" class="btn btn-primary btn-radius"> Ver más &nbsp; &nbsp; <i class="fa fa-arrow-right"></i></a>
    </div>
  </div>
</section>
<!-- /Blog Sections -->
