<section>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 d-none d-md-block pl-0">
        <img src="assets/img/access.png" class="img-fluid">
      </div>
      <div class="col-md-6 col-lg-5 p-4 p-md-2 p-lg-5">
        <h2 class="mb-0">Sign in</h2>
        <small>Sign in with social media</small>
        <div class="social-media-login mt-2 mt-lg-3">
          <a (click)="signInWithFB()" class="btn btn-facebook btn-block mb-2 mb-lg-3 text-white" href="#"> <i
            class="fab fa-facebook-square"></i> LOGIN WITH FACEBOOK</a>
          <a (click)="signInWithGoogle()" class="btn btn-google btn-block mb-2 mb-lg-3 text-white" href="#"> <i
            class="fab fa-google"></i> LOGIN WITH GOOGLE &nbsp;&nbsp;</a>
          <a href="#" class="btn btn-twitter btn-block mb-2 mb-lg-3 text-white"> <i class="fab fa-twitter"></i> LOGIN
            WITH TWITTER &nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a href="#" class="btn btn-twitch btn-block mb-2 mb-lg-3 text-white"> <i class="fab fa-twitch"></i> LOGIN WITH
            TWITCH &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a href="#" class="btn btn-discord btn-block mb-2 mb-lg-3 text-white"> <i class="fab fa-discord"></i> LOGIN
            WITH DISCORD &nbsp;&nbsp;</a>
        </div>
        <div class="text-center">
          <small>or login with email address</small>
        </div>

        <div class="email-signin mt-2 mt-lg-3 mb-2 mb-lg-3">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="invalid">
              <span class="help-block form-error text-danger small"
                    *ngIf="loginForm.controls['email'].errors?.required &&
                          loginForm.controls['email'].touched">Please enter email.
              </span>
            </div>
            <input type="email" name="email" class="form-control mb-2 mb-lg-3" placeholder="Email address" formControlName="email">

            <div class="invalid">
              <span class="help-block form-error text-danger small"
                    *ngIf="loginForm.controls['password'].errors?.required &&
                          loginForm.controls['password'].touched">Please enter password.
              </span>
            </div>
            <input type="password" name="password" class="form-control mb-2 mb-lg-3" placeholder="Password" formControlName="password">
            <button type="submit" class="btn btn-danger btn-block">SIGN IN</button>
          </form>
        </div>

        <div class="mb-lg-3">
          <small>Don’t have an account?</small> <a class="font-14 bolder" href="#" routerLink="../register">Sign Up</a>
        </div>

      </div>
    </div>
  </div>
</section>
